{% extends 'first_app/__base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

    <div style="width: 100%; background-color: #b8b8b8;">
        <div>내 키 : {{ request.user.user_profile.height }}</div>
        <div>내 몸무게 : <span id="id_my_weight">{{ request.user.user_profile.weight }}</span></div>


        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" id="id_save_all_btn" type="submit">Save All</button>
            <input type="number" id="id_data_count" style="display: none" value="0" name="count_name">
            <div class="my-5" id="id_adding_box"></div>
        </form>

        <div>
            <input type="text" name="fitness_spec_name" id="id_fitness_spec">
            <input type="number" name="fitness_spec_basic_calorie" id="id_fitness_basic_calorie">
            <input type="number" name="worked_out_min" id="id_worked_out_min">
            <input type="number" name="consumed_cal" id="id_consumed_cal">
            <input type="number" name="fitness_pk" id="id_fitness_pk" style="display: none"> <!-- 운동 PK -->
            <input type="text" name="save_type" id="id_save_type" style="display: none"> <!-- 운동인지 음식인지 -->
            <button class="btn btn-outline-primary btn-sm" id="id_workout_add_btn" type="button">추가</button>
        </div>

    </div>

    <div class="accordion" id="accordionExample">

        <!-- Workout -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    운동
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        {% for i in fitness %}
                            <li class="list-group-item" value="{{ i.calorie }}" id="workout_{{ i.pk }}">{{ i.spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Foods -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    음식
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        {% for i in foods %}
                            <li class="list-group-item" value="{{ i.calorie }}" id="food_{{ i.pk }}">{{ i.spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}

    <script>
        $('.list-group-item').click(function () {
            let calorie = $(this).val();
            let fit_name = $(this).text();

            let fit_pk = $(this).attr('id'); // real pk = 1 but received pk = fit_1 or food_1
            let splited_id =fit_pk.split('_')
            fit_pk = splited_id[1]


            $('#id_fitness_spec').val(fit_name);
            $('#id_fitness_basic_calorie').val(calorie);
            $('#id_worked_out_min').val(0);
            $('#id_consumed_cal').val(0);

            $('#id_fitness_pk').val(fit_pk);
            $('#id_save_type').val(splited_id[0])  // food or workout
        })

        $('#id_worked_out_min').on('keyup', function () {
            let cal = Number($('#id_fitness_basic_calorie').val())
            let min = Number($(this).val())
            let weight = Number($('#id_my_weight').text())
            {#console.log(cal)#}
            {#console.log(min)#}
            {#console.log(weight)#}

            let result = cal * min * weight

            $('#id_consumed_cal').val(result)

        })

        $('#id_workout_add_btn').click(function () {
            let consumed_cal = Number($('#id_consumed_cal').val()); // '0'
            let fit_spac = '';
            let worked_out_min = 0;
            let weight = Number($('#id_my_weight').text());

            let fit_pk = Number($('#id_fitness_pk').val());
            let calories_type = $('#id_save_type').val();

            let count = Number($('#id_data_count').val());

            if (consumed_cal) {
                fit_spac = $('#id_fitness_spec').val();
                worked_out_min = $('#id_worked_out_min').val();
                count = count + 1;

                $('#id_data_count').val(count)

                console.log(consumed_cal)
                console.log(fit_spac)
                console.log(weight)
                console.log(worked_out_min)

                $('#id_adding_box').append(
                    '<div class="input-group input-group-sm mb-3">' +
                    '<span class="input-group-text" id="inputGroup-sizing-sm">Added</span>' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Index" value="'+ count +'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Worked_spac" value="'+fit_spac+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Min" value="'+worked_out_min+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="weight" value="'+weight+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="calories" value="'+consumed_cal+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="" value="'+fit_pk+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="" value="'+calories_type+'">' +
                    '</div>'
                )
            } else {
                console.log('no data')
            }
        })

        {#$('#id_save_all_btn').click(function () {#}
        {#    let count = $('#id_data_count').val();#}
        {##}
        {#    let step;#}
        {#    for (step = 1; step <= count; step++) {#}
        {#      // Runs 5 times, with values of step 0 through 4.#}
        {#        let post_name = 'worked_out_list_'+step#}
        {#        let data = document.querySelector('[name='+post_name+']');#}
        {#        console.log(data)#}
        {#    }#}
        {# })#}



    </script>

{% endblock %}