{% extends 'first_app/__base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

    <div style="width: 100%; height: 300px; background-color: #b8b8b8">
        <div>내 키 : {{ request.user.user_profile.height }}</div>
        <div>내 몸무게 : <span id="id_my_weight">{{ request.user.user_profile.weight }}</span></div>
        <input type="number" id="id_data_count" style="display: none" value="0">

        <button class="btn btn-primary btn-sm">Save All</button>
        <div class="my-5" id="id_adding_box">



        </div>

        <div>
            <input type="text" name="fitness_spec_name" id="id_fitness_spec">
            <input type="number" name="fitness_spec_basic_calorie" id="id_fitness_basic_calorie">
            <input type="number" name="worked_out_min" id="id_worked_out_min">
            <input type="number" name="consumed_cal" id="id_consumed_cal">
            <button class="btn btn-outline-primary btn-sm" id="id_workout_add_btn">추가</button>
        </div>

    </div>




    <ul class="list-group list-group-flush">
        {% for i in fitness %}
            <li class="list-group-item" value="{{ i.calorie }}" id="{{ i.pk }}">{{ i.spec }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block script %}

    <script>
        $('.list-group-item').click(function () {
            let calorie = $(this).val();
            let fit_name = $(this).text();
            $('#id_fitness_spec').val(fit_name);
            $('#id_fitness_basic_calorie').val(calorie);
            $('#id_worked_out_min').val(0);
            $('#id_consumed_cal').val(0);
        })

        $('#id_worked_out_min').on('keyup', function () {
            let cal = Number($('#id_fitness_basic_calorie').val())
            let min = Number($(this).val())
            let weight = Number($('#id_my_weight').text())
            {#console.log(cal)#}
            {#console.log(min)#}
            {#console.log(weight)#}

            let result = cal * min * weight

            $('#id_consumed_cal').val(result)

        })

        $('#id_workout_add_btn').click(function () {
            let consumed_cal = Number($('#id_consumed_cal').val()); // '0'
            let fit_spac = '';
            let worked_out_min = 0;
            let weight = Number($('#id_my_weight').text());

            let count = Number($('#id_data_count').val());

            if (consumed_cal) {
                fit_spac = $('#id_fitness_spec').val();
                worked_out_min = $('#id_worked_out_min').val();
                count = count + 1;

                $('#id_data_count').val(count)

                console.log(consumed_cal)
                console.log(fit_spac)
                console.log(weight)
                console.log(worked_out_min)

                $('#id_adding_box').append(
                    '<div class="input-group input-group-sm mb-3">' +
                    '<span class="input-group-text" id="inputGroup-sizing-sm">Added</span>' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Index" value="'+ count +'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Worked_spac" value="'+fit_spac+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="Min" value="'+worked_out_min+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="weight" value="'+weight+'">' +
                    '<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="worked_out_list_'+count+'" placeholder="calories" value="'+consumed_cal+'">' +
                    '</div>'
                )
            } else {
                console.log('no data')
            }
        })

        let test_number = 0
        let test_string = '0'

        if (test_number){ // false

        }

        if (test_string){ // true

        }

    </script>

{% endblock %}