<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>눈바디 개인정보 처리방침</title>
</head>
<body>

<div class=WordSection1>

<p class=a><span>개인정보처리방침</span></p>

<p class=a><span>김보리</span>(<span>이하</span> &quot;<span
>회사</span>&quot; <span>또는 </span><span style='font-family:
"Arial Unicode MS",serif'>“</span><span>개발자</span><span
style='font-family:"Arial Unicode MS",serif'>”</span><span>라 함</span>)<span
>는 통신비밀보호법</span>, <span>전기통신사업법</span>, <span>정보통신망
이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며</span>, <span
>관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다</span>. <span
>김보리의 개인정보취급방침은 다음과 같은 내용을 담고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>1. <span>수집하는 개인정보의 항목 및 수집방법</span></p>

<p class=a>2. <span>개인정보의 수집 및 이용목적</span></p>

<p class=a>3. <span>개인정보 공유 및 제공</span></p>

<p class=a>4. <span>개인정보의 취급위탁</span></p>

<p class=a>5. <span>개인정보의 보유 및 이용기간</span></p>

<p class=a>6. <span>개인정보 파기절차 및 방법</span></p>

<p class=a>7. <span>이용자 및 법정대리인의 권리와 그 행사방법</span></p>

<p class=a>8. <span>개인정보 자동 수집 장치의 설치</span>/<span>운영 및 거부에
관한 사항</span></p>

<p class=a>9. <span>개인정보의 기술적</span>/<span>관리적 보호 대책</span></p>

<p class=a>10. <span>개인정보관리책임자 및 담당자의 연락처</span></p>

<p class=a>11. <span>기타</span></p>

<p class=a>12. <span>고지의 의무</span></p>

<p class=a>&nbsp;</p>

<p class=a>1. <span>수집하는 개인정보의 항목 및 수집방법</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>가</span>. <span>수집하는 개인정보의 항목</span></p>

<p class=a><span>첫째</span>, <span>개발자가 제공하는 앱을 시행할 시 목적에 필요한
최소한의 정보를 요청합니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>가입 시</span> &gt;</p>

<p class=a><span>필수항목</span> : <span>성명</span>, <span
>이메일</span>, <span>연락처</span>, <span>신장</span>, <span>체중</span>, <span>생년월일</span>, <span>성별</span></p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a><span>둘째</span>, <span>서비스 이용과정이나 사업처리 과정에서 아래와
같은 정보들이 자동으로 생성되어 수집될 수 있습니다</span>.</p>

<p class=a>IP Address, <span>방문 일시</span>, <span>서비스 이용 기록</span>,
<span>불량 이용 기록</span></p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a><span>나</span>. <span>개인정보 수집방법</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>개발자는 다음과 같은 방법으로 개인정보를 수집합니다</span>. <span
>앱으로부터 제공생성정보 수집 툴을 통한 수집</span></p>

<p class=a>&nbsp;</p>

<p class=a>2. <span>개인정보의 수집 및 이용목적</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>가</span>. <span>서비스 제공에 관한 계약 이행 및 서비스 제공</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>컨텐츠 제공</span>, <span>특정 맞춤 서비스 제공</span>,
</p>

<p class=a>&nbsp;</p>

<p class=a><span>나</span>. <span>신규 서비스 개발</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>신규 서비스 개발 및 맞춤 서비스 제공</span>, <span>통계학적
특성에 따른 서비스 제공</span>, <span>서비스의 유효성 확인</span>, <span>접속빈도 파악</span>, <span
>회원의 서비스이용에 대한 통계</span></p>

<p class=a>&nbsp;</p>

<p class=a>3. <span>개인정보의 공유 및 제공</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>개발자는 이용자들의 개인정보를</span> &quot;2. <span>개인정보의
수집목적 및 이용목적</span>&quot;<span>에서 고지한 범위내에서 사용하며</span>, <span
>이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다</span>.
<span>다만</span>, <span>아래의 경우에는 예외로 합니다</span>. <span
>이용자들이 사전에 공개에 동의한 경우 법령의 규정에 의거하거나</span>, <span>수사 목적으로 법령에
정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</span></p>

<p class=a>&nbsp;</p>

<p class=a>5. <span>개인정보의 보유 및 이용기간</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다</span>.
<span>단</span>, <span>다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다</span>.
<span>가</span>. <span>개발자 내부 방침에 의한 정보보유 사유</span></p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>부정이용기록</span> &gt;</p>

<p class=a>&nbsp;</p>

<p class=a><span>보존 이유</span> : <span>부정 이용 방지</span></p>

<p class=a><span>보존 기간</span> : 1<span>년</span></p>

<p class=a><span>나</span>. <span>관련법령에 의한 정보보유 사유 상법</span>,
<span>전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 개발자는 관계법령에서
정한 일정한 기간 동안 회원정보를 보관합니다</span>. <span>이 경우 개발자는 보관하는 정보를 그 보관의 목적으로만
이용하며 보존기간은 아래와 같습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>계약 또는 청약철회 등에 관한 기록</span> &gt;</p>

<p class=a><span>보존 이유</span> : <span>전자상거래 등에서의 소비자보호에 관한
법률보존 기간</span> : 5<span>년</span></p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>대금결제 및 재화 등의 공급에 관한 기록</span> &gt;</p>

<p class=a><span>보존 이유</span> : <span>전자상거래 등에서의 소비자보호에 관한
법률보존 기간</span> : 5<span>년</span></p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>소비자의 불만 또는 분쟁처리에 관한 기록</span> &gt;</p>

<p class=a><span>보존 이유</span> : <span>전자상거래 등에서의 소비자보호에 관한
법률보존 기간</span> : 3<span>년</span></p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>본인확인에 관한 기록</span> &gt;</p>

<p class=a><span>보존 이유</span> : <span>정보통신 이용촉진 및 정보보호 등에
관한 법률보존 기간</span> : 6<span>개월</span></p>

<p class=a>&nbsp;</p>

<p class=a>&lt; <span>방문에 관한 기록</span> &gt;</p>

<p class=a><span>보존 이유</span> : <span>통신비밀보호법보존 기간</span>
: 3<span>개월</span></p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a>6. <span>개인정보 파기절차 및 방법</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다</span>.
<span>개발자의 개인정보 파기절차 및 방법은 다음과 같습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>가</span>. <span>파기절차</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의</span> DB<span
>로 옮겨져</span>(<span>종이의 경우 별도의 서류함</span>) <span
>내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라</span>(<span>보유 및 이용기간 참조</span>)<span
>일정 기간 저장된 후 파기됩니다</span>. <span>동 개인정보는 법률에 의한 경우가 아니고서는 보유되는
이외의 다른 목적으로 이용되지 않습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>나</span>. <span>파기방법</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다</span>. <span
>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a>7. <span>이용자 및 법정대리인의 권리와 그 행사방법</span></p>

<p class=a>&nbsp;</p>

<p class=a>1. <span>이용자의 개인정보 조회</span>/<span>수정을 위해서는</span>
'<span>개인정보변경</span>'(<span>또는</span> '<span>회원정보수정</span>'
<span>등</span>)<span>을</span>, <span>가입해지</span>(<span
>동의철회</span>)<span>를 위해서는 개인정보관리책임자에게 서면</span>, <span
>전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다</span>. <span>법정대리인이 당해 만</span>
14<span>세 미만 아동의 개인정보를 조회</span>/<span>수정하거나 가입해지를 하기 위해서는
개발자의 개인정보관리책임자에게 서면</span>, <span>전화</span>, <span>이메일로 이를
요청할 수 있으며</span>, <span>개발자는 요구 받은 내용을 지체 없이 조치하겠습니다</span>. </p>

<p class=a>&nbsp;</p>

<p class=a>2. <span>이용자의 개인정보의 오류에 대한 정정을 요청한 경우에는 정정을 완료하기 전까지 당해 개인정보를
이용 또는 제공하지 않습니다</span>. <span>또한 잘못된 개인정보를 제</span>3<span
>자에게 이미 제공한 경우에는 정정 처리결과를 제</span>3<span>자에게 지체 없이 통지하여 정정이
이루어지도록 하겠습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>3. <span>개발자는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는</span>
&quot;5. <span>개인정보의 보유 및 이용기간</span>&quot;<span>에 명시된 바에
따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a>&nbsp;</p>

<p class=a>8. <span>개인정보의 기술적</span>/<span>관리적 보호 대책</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>개발자는 이용자들의 개인정보를 취급함에 있어 개인정보가 분실</span>, <span
>도난</span>, <span>누출</span>, <span>변조 또는 훼손되지 않도록
안전성 확보를 위하여 다음과 같은 기술적</span>/<span>관리적 대책을 강구하고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>가</span>. <span>보유기간 이후 삭제</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>목적에 따라 수집된 정보는 목적외 이용하지 않으며</span>, <span
>공지된 보유기간 이후 삭제 됩니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>나</span>. <span>해킹 등에 대비한 대책</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>개발자는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해
최선을 다하고 있습니다</span>.</p>

<p class=a><span>개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고</span>, <span
>최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며</span>, <span
>암호화통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다</span>. <span
>그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며</span>, <span>기타
시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>다</span>. <span>취급 직원의 최소화 및 교육</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>개발자의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여
정기적으로 갱신하고 있으며</span>, <span>담당자에 대한 수시 교육을 통하여 청년의사 개인정보취급방침의 준수를 항상
강조하고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>라</span>. <span>개인정보보호전담기구의 운영</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>그리고 사내 개인정보보호전담기구 등을 통하여 청년의사 개인정보취급방침의 이행사항 및 담당자의
준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a><span>단</span>, <span>이용자 본인의 부주의나 인터넷상의 문제로 연락처</span>,
<span>이메일</span>, <span>소속 등 개인정보가 유출되어 발생한 문제에 대해 개발자는 일체의
책임을 지지 않습니다</span>.</p>

<p class=a>&nbsp;</p>

<p class=a>9. <span>개인정보관리책임자 및 담당자의 연락처</span></p>

<p class=a>&nbsp;</p>

<p class=a><span>귀하께서는 개발자의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자
혹은 담당부서로 신고하실 수 있습니다</span>.</p>

<p class=a><span>개발자는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다</span>.</p>

<p class=a>&nbsp;</p>

</div>

</body>
</html>