django==3.2.6
requests==2.26.0
djangorestframework==3.12.4
markdown==3.3.4
django-filter==21.1
django-ninja==0.16.2
Pillow==9.1.1
django-storages==1.12.3
boto3==1.24.7
django-cors-headers==3.13.0
pysqlite3
pysqlite3-binary