option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Project.settings

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

  aws:elasticbeanstalk:container:python:
    WSGIPath: Project.wsgi:application


container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
#  03_wsgipass:
#    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

# Html, Javascript, css
# 장고는 로컬에서 서버를 돌리면 javascript file이나 css style file들을 자동으로 보내주는데
# 클라우드서버에서는 자동으로 안보내주고 NGINX라고 하는 서버프로그램을 통해서 전송을 해줌.
# NGINX를 사용해서 Static file들을 보내주려면 collect static 명령어를 통해서 한곳에 모아줘야함.

# ec2서버가 사용자가 너무 많아졌거나 서버가 버거워질때 서버크기를 키워주거나 서버 갯수를 늘려주는 기능을 하는 것
# 그것을 하기 위해서 cloud watch 가 서버를 지켜보고있음
# 로드밸런스 : 서버 1대 = 트레픽 1개 => 서버 1대 = 트레픽 분산(로드밸런서)

# 들어가는 입구는 1개 인데 => 통로가 1개뿐이면 => 많은정보가 들어오려고 시도할때 => 병목현상 이 생김
