option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Project.settings.prod_eb

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

  aws:elasticbeanstalk:container:python:
    WSGIPath: MDsquareAdmin.wsgi:application


#container_commands:
#  01_migrate:
#    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
#    leader_only: true
#  02_collectstatic:
#    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
#  03_wsgipass:
#    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

# Html, Javascript, css
# 장고는 로컬에서 서버를 돌리면 javascript file이나 css style file들을 자동으로 보내주는데
# 클라우드서버에서는 자동으로 안보내주고 NGINX라고 하는 서버프로그램을 통해서 전송을 해줌.
# NGINX를 사용해서 Static file들을 보내주려면 collect static 명령어를 통해서 한곳에 모아줘야함.